#container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
  background: red;
}

.p-1 {
  flex-basis: calc(50% - 25px);
  background-color: yellow;
}

.p-2 {
  background-color: blue;
}