#container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background: red;
}

.p-1 {
  position: absolute;
  left: 0;
  background-color: yellow;
}

.p-2 {
  background-color: blue;
}